
  @import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

*
{
    margin: 0;
    padding: 0;
    background-color: black;
    list-style: none;
}

header
{
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

nav
{
    width: 60%;
}

ul
{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

li
{
    list-style: none;
    color: aliceblue;
    cursor: pointer;
    font-size: 19px;
    transition: .5s;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

li:hover
{
    color: #D21617;
}

#logo
{
    width: 150px;
    height: auto;
}

#banner 
{
    background-image: url('https://pbs.twimg.com/media/FBwJWeQXIAItfyH?format=jpg&name=large');
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 600px;
}

#trailerContent
{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;

}

.content
{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.trailer
{
    width: 50%;
}

#sinopse
{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
}

.description
{
    color: #fff;
    font-size: 19px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    width: 70%;
}

.button
{
    width: 200px;
    height: 60px;
    background-color: #D21617;
    color: #fff;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: .8s;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: none;
    outline: none;
    margin-top: 25px;

}

.button:hover
{
  background-color: #fff;
  color: #000;
}

.actorCardsContainer
{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.cards-content
{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 40px;
}

.card
{
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 20px 10px;
    color: #fff;
    font-size: 17px;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.card:hover
{
    transform: scale(1.02);
}

.banner-1
{
   background-image: url('https://i.pinimg.com/564x/63/02/7a/63027a0889d4c700edf701e656f58554.jpg');
}

.banner-2
{
  background-image: url('https://i.pinimg.com/564x/b0/76/fc/b076fc558eeb9e1dff3e2979f68f915e.jpg');  
}

.banner-3
{
    background-image: url('https://i.pinimg.com/564x/4d/14/97/4d14972f259b183b5cf2fc6f146761b8.jpg');
}

.banner-4 
{
    background-image: url('https://i.pinimg.com/564x/e6/32/c3/e632c38979429b5ca85ed94bc95fb986.jpg');
    transition: 2s;
}

.banner-5
{
    background-image: url('https://i.pinimg.com/564x/4f/04/4a/4f044a294f8f81b6018a8725d0eedb44.jpg');
}

.banner-6
{
    background-image: url('https://i.pinimg.com/564x/e4/90/f0/e490f07fb3bcf6cd7e415eac56174f59.jpg');
}

.banner-4:hover
{
    background-image: url('https://i.pinimg.com/564x/5b/2c/76/5b2c76ec087c0ea06b008d546ef47598.jpg');
    color: black;
}
footer
{
    height: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

span
{
    color: #fff;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.footerNav
{
    display: none;
}

.footerlist
{
    display: flex;
    flex-direction: column;
    align-items: center;

}

@media (max-width: 768px)
{
  .footerNav
  {
    display: block;
  }

  nav{
    display: none;
  }


#banner
{
    background-position: 40%;
}

#trailerContent
{
    margin-top: 50px;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
}

.content
{
    width: 95%;
    display: flex;
    flex-direction: column;
}

.trailer
{
    width: 100%;
}

#sinopse
{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.description
{
    width: 100%;
}

.button
{
    width: 100%;
    margin-top: 30px;
}

.cards-content
{
    grid-template-columns: 1fr;
    margin-top: 150px;
}
}

.elenco
{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.textoPadrao
{
    color: #fff;
    font-size: 30px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    margin-top: 50px;
    padding: 10px ;
    justify-content: center;
    display: flex;
}

.actorCardsContainerPhotos
{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-right: 150px;}



    
.cardCenas
{
    width: 50%;
    height: 300px;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 20px 10px;
    color: #fff;
    font-size: 17px;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.cardCenas:hover
{
    transform: scale(1.02);
}

    .cena1
    {
        background-image: url('https://legadodadc.com.br/wp-content/uploads/2022/03/Robert-Pattinson-and-Jeffrey-Wright-in-The-Batman-legadodadc.webp');
    }

    .cena2
    {
        margin-top: 30px;
        background-image: url('https://legadodadc.com.br/wp-content/uploads/2022/03/The-Batman-Batmobile-chase-silhouette-wide-legadodadc.webp');
    }

    .cena3
    {
        margin-top: 30px;
        background-image: url('https://legadodadc.com.br/wp-content/uploads/2022/03/The-Batman-ending-1-legadodadc.webp');
    }

    .cena4
    {
        margin-top: 30px;
        background-image: url('https://legadodadc.com.br/wp-content/uploads/2022/03/the-batman-scene-legadodadc.webp');
    }

    .textoCena
    {
        color: #fff;
        font-size: 19px;
        font-family: 'Kdam Thmor Pro', sans-serif;
        width: 70%;
    }



    
#sinopseCena
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 700px;
    margin-bottom: 80px;
    
}


.aviso{
    width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   position: absolute;
   top: 100px;
   font-size: 30px;
}

    .textoAviso
    {
        
        color: #fff;
        font-family: 'Kdam Thmor Pro', sans-serif;
    }

/* pagina de comentarios */

    .textoBatman:hover
    {
        transition: 1s;
        color: #D21617;
    }

    #comments{
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-content: space-around;
    }

    .commentIcon
    {
        width: 200px;
        height: 200px;
        background-size: cover;
    }

    .icon1
    {
        background-image: url('https://i.pinimg.com/736x/eb/e5/51/ebe551fd04f7bc87fd710644a1dbfd83.jpg');
    }

    .icon2
    {
        background-image: url('https://i.imgur.com/54KdCxV.jpg');
    }

    .icon3
    {
        background-image: url('https://i.pinimg.com/736x/56/8f/e8/568fe84466c1995b7954d861892aaca3.jpg');
    }
    .icon4
    {
        background-image: url('https://i.pinimg.com/originals/05/03/63/0503630ed4a56cf01db43dcc7a368fa8.jpg');
    }


    .commentTxt
    {
        color: #fff;
        font-size: 19px;
        font-family: 'Kdam Thmor Pro', sans-serif;
        width: 70%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 10px;

    }

  
/* .description
{
    color: #fff;
    font-size: 19px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    width: 70%;
}  */
